body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(kep.jpg);
}

/* A .container középre helyezése, flexbox-al a kártyák elosztásához */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Egyenletes elosztás függőlegesen */
    align-items: center;
    height: 80vh; /* A teljes magasság 80%-át használja */
    width: 50%; /* A kártyák 50%-os szélességet foglalnak */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Erősebb árnyék a kiemeléshez */
}

/* Egy alap stílus a kártyáknak */
.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Kisebb, de látható árnyék */
    margin-bottom: 20px;
    width: 100%; /* Minden kártya a container teljes szélességét használja */
    text-align: center;
}

/* Külön stílusok az állapot, hőmérséklet és fogyasztás kártyáknak, ha szükséges */
.status-card, .temp-card, .consumption-card {
    margin-bottom: 20px; /* Kártyák közötti térköz */
}

/* Stílus a gombhoz */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
}

/* A rögzített adatok tartalmazó rész stílusa */
.data-container {
    max-height: 200px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

p {
    margin: 5px 0;
}
